
.all-users {
  display: flex;
  gap: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
}

.user {
  background-color: wheat;
  width: min-content;
  padding: 15px;
  border-radius: 6px;
}

.user-profile-pic {
  width: 320px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.user-information {
  margin-left: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
 
}

.buttons {
  display: flex;
  gap: 3rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
  margin: 1rem;
}

.header {
   
  gap: 2rem;
 

  display: flex;
  flex-direction: row;
  padding-left: 5%;

  font-size: 1.5rem;
  font-family: ff-din-web,Calibri,Arial,sans-serif;
  top:0%;
  
  
}

.user-Info{
  margin-left: 3rem;
}